.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.App>div:nth-child(1) {
  width: 15vw;
  background: #dedede;
}

.App>div:nth-child(2) {
  width: 85vw;
  background-color: black;
  color: #ffffff;
}