.navigation {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navigation .topnav {
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

.navigation button {
    color: #ffffff;
    outline: none;
    /* padding: 10px; */
    border-radius: 10px;

    background-color: transparent;

    transition-duration: 250ms;
}

.navigation button:hover {
    background-color: #343434;
    color: #ffffff;
}
button.disabled{
    background-color: transparent !important;
    color: #ffffff !important;
    cursor: not-allowed;
}